{% extends "layout.html" %}



{% block content %}
<!-- Projects / Coverage -->
<section class="projects section-padding" style="margin-top: 80px;">
    <div class="container">
        <h2 class="section-title text-center">مشاريع نخدمها</h2>
        <div class="divider center-divider"></div>
        <div class="projects-wrapper">
            <div class="project-item">
                <div class="project-content">
                    <i class="fas fa-hotel"></i>
                    <span>فنادق</span>
                </div>
            </div>
            <div class="project-item">
                <div class="project-content">
                    <i class="fas fa-landmark"></i>
                    <span>قصور</span>
                </div>
            </div>
            <div class="project-item">
                <div class="project-content">
                    <i class="fas fa-home"></i>
                    <span>فيلات</span>
                </div>
            </div>
            <div class="project-item">
                <div class="project-content">
                    <i class="fas fa-building"></i>
                    <span>شقق سكنية</span>
                </div>
            </div>
            <div class="project-item">
                <div class="project-content">
                    <i class="fas fa-industry"></i>
                    <span>مصانع</span>
                </div>
            </div>
            <div class="project-item">
                <div class="project-content">
                    <i class="fas fa-briefcase"></i>
                    <span>شركات ومكاتب</span>
                </div>
            </div>
        </div>

        <div class="coverage-banner mt-5">
            <i class="fas fa-map-marked-alt"></i>
            <div class="coverage-text">
                <h3>نطاق الخدمة</h3>
                <p>نفخر بخدمة القاهرة و الجيزة و الاسكندرية و أسيوط و قنا و المنيا و شرم الشيخ و الساحل الشمالي و
                    العالمين و العاصمة الادارية و الغردقة و السخنة و القليوبية و الأسكندرية و الشرقية و الغربية و في
                    جميع مناطق الجمهورية</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
